body {
    background-color: rgb(126, 162, 219);
}
html {
    font-family: "Open Sans",sans;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    margin: auto;
    text-decoration: none;
    color: #fff;
}
.text-center {
    text-align: center;
}
.heading-small {
    font-size: 1.25rem;
}
.heading-medium {
    font-size: 1.5rem;
}
.heading-big {
    font-size: 1.75rem;
}
.bg-darkblue {
    background: #062e51;
}
.bg-lightblue {
    background: #336ea2;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}