#navbar {
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.75rem;
}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 4px;
}
#home {
    display: flex;
    width:  70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: rgb(126, 162, 219);
    float: left;
}
#home img {
    max-width: 100%;
    height: auto;
}
#aside {
    background-color: rgb(126, 162, 219);
    padding: 10px;
    text-align: justify;
    width: 30%;
    float: right;
}
#aside ul li {
    list-style-type: none; 
}
#aside ul li a {
    color: black;
    display: flex;
    margin: auto;
}
#aside ul li a img {
    padding: 5px;
    display: flex;
    height: 175px;
    width: 175px;
}
#footer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(126, 162, 219);
}
#footer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(126, 162, 219);
}
#albums-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
}
#albums-section ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#albums-section ul li a {
    color: black;
}
#albums-section ul li a img {
    height: 250px;
    width: 250px;
}
#albums-section ul li img {
    height: 300px;
    width: 300px;
}
#box {
    padding: 0.75rem;
    display: inline-block;
    height: 290px;
    width: 290px;
    text-align: center;
}
#box1 {
    padding: 0.75rem;
    display: inline-block;
    height: 350px;
    width: 350px;
    text-align: center;    
}
#about-section h1 {
    padding: 0.75rem;
}
#about-section p {
    padding: 0 0.75rem;
}
#about-section ul li a img {
    height: 250px;
    width: 250px;
}
#about-section ul li {
    padding: 0.75rem;
}
#about-section ul li a {
    color: black;
}
#box2 {
    padding: 0.75rem;
    display: inline-block;
    height: 295px;
    width: 295px;
    text-align: center;     
}
.gallery-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;               
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.gallery-modal img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  object-fit: contain;
  cursor: zoom-out;
}
.gallery-img {
  width: 180px;                
  cursor: zoom-in;
  transition: 0.2s;
}
.gallery-img:hover {
  transform: scale(1.03);
}
.form-group {
    padding: 0.25rem 0;
}
.form-group label {
    display: block;
}
#contact {
    color: #fff;
    padding: 1rem;
}
.contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1.5rem;
    resize: none;
    border-radius: 5px;
}
.btn-block {
    width: 100%;
    padding: 0.4rem;
    font-size: 1.5rem;
    border-radius: 5px;
}